html {
	position: relative;
}
body {
	background: url('img/pattern1.png');
}

#wrapper {
	width: 960;
	height: 2100;
	margin: 0 auto;
	position: relative;
	background: rgb(228,245,252);
	background: -moz-linear-gradient(-45deg, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1)));
	background: -webkit-linear-gradient(-45deg, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: linear-gradient(135deg, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );
}

#logo {
	position: absolute;
	left: 20;
	top: 20;
	width: 250;
}

.tel {
	position: absolute;
	right: 35;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #93948F;
}

#telefono {
	top: 10;
}

#mail {
	top: 28;
}

.menu {
	position: absolute;
	left: 20;
	top: 100;
	z-index: 1;
}

#slider {
	width: 860;
	height: 50;
	position: absolute;
	left: 50;
	top: 200;
	z-index: 0;
}



.lateral img {
	width: 260;
	height: 250;
	position: absolute;

}

.servicios {
	position: absolute;
	left: 50;
	top: 770;
	font-family: fantasy;
    font-weight: bold;
    font-size: 30px;
    color: #2A4DA2;
}

#lateral1 img {
	top: 820;
	left: 50;
}
#lateral2 img {
	top: 820;
	left: 350;
}
#lateral3 img {
	top: 820;
	right: 50;
}

.sociales {
	position: absolute;
	top: 50;
	width: 32;
	height: 32;
}

#logotw {
	right: 70;
}
#logofb {
	right: 35;
}

#lateral1 p, #lateral2 p, #lateral3 p {
	width: 260;
	height: 40;
	position: absolute;
	top: 1100;
	text-align: justify;
	font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 14px;

}
#lateral1 p{
	left: 50;
}
#lateral2 p{
	left: 350;
}
#lateral3 p{
	right: 50;
}

#quienessomos {
	position: absolute;
	width: 520;
	height: 80;
	left: 50;
	top: 1300;
}

#quienessomos h6 {
	font-family: fantasy;
    font-weight: bold;
    font-size: 30px;
    color: #2A4DA2;
    margin-bottom: 10;
}

#quienessomos p {
	text-align: justify;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

#slider2 img {
	width: 260;
	height: 250;
}

#slider2 p strong {
	color: #039CA4;
}

#slider2 {
	position: absolute;
	width: 260;
	top: 1300;
	right: 50;
}

#footer {
	position: absolute;
	height: 50;
	width: 100%;
	background-color: #000000;
}

#socialFooter img {
	position: absolute;
	right: 80;
}

