body {
	background: url('img/pattern1.png');
}

#wrapper {
	width: 960;
	height: 1024;
	background: #FFFFFF;
	margin: 0 auto;
	position: relative;
}

#header img {
	position: absolute;
	left: 20;
	top: 80;
	width: 250;
}

.tel {
	position: absolute;
	right: 35;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#telefono {
	top: 10;
}

#mail {
	top: 28;
}

.menu {
	position: absolute;
	right: 35;
	top: 100;
	z-index: 1;
}

#slider {
	width: 860;
	height: 50;
	position: absolute;
	left: 50;
	top: 150;
	z-index: 0;
}

