body {
	background: url('img/pattern1.png');
}

#wrapper {
	width: 960;
	height: 1800;
	margin: 0 auto;
	position: relative;
	background: #f0f9ff;
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff));
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );

}

#header img {
	position: absolute;
	left: 20;
	top: 80;
	width: 250;
}

.tel {
	position: absolute;
	right: 35;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #93948F;
}

#telefono {
	top: 10;
}

#mail {
	top: 28;
}

.menu {
	position: absolute;
	right: 35;
	top: 100;
	z-index: 1;
}

#slider {
	width: 860;
	height: 50;
	position: absolute;
	left: 50;
	top: 200;
	z-index: 0;
}

.lateral img {
	width: 260;
	height: 350;
	position: absolute;

}

.servicios {
	position: absolute;
	left: 50;
	top: 780;
	font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
    color: #2A4DA2;
}

#lateral1 img {
	top: 820;
	left: 50;
}
#lateral2 img {
	top: 820;
	left: 350;
}
#lateral3 img {
	top: 820;
	right: 50;
}

.sociales {
	position: absolute;
	top: 50;
	width: 32;
	height: 32;
}
#logotw {
	right: 70;
}
#logofb{
	right: 35;
}


